# PYTHON
/graphs/__pycache__
/__pycache__
.streamlit


# CONFIGS, SECRETS
config.py
sheets_config.json
.env

# MODULES/DEPENDENCIES
node_modules


# DEV
TODO.md
bot.zip
sandbox.py

# ZIP
make_zip
/zip_file
cloud_code.zip


