altgraph==0.10.2
appdirs==1.4.4
arrow==0.17.0
asn1crypto==0.24.0
attrs==20.3.0
Automat==20.2.0
backports.functools-lru-cache==1.6.3
bdist-mpkg==0.5.0
binance==0.3
binaryornot==0.4.4
certifi==2018.8.24
cffi==1.14.3
chardet==3.0.4
click==7.1.2
configparser==4.0.2
constantly==15.1.0
contextlib2==0.6.0.post1
cookiecutter==1.7.2
distlib==0.3.1
enum34==1.1.6
filelock==3.0.12
future==0.17.1
hyperlink==21.0.0
idna==2.7
importlib-metadata==2.1.1
importlib-resources==3.3.1
incremental==21.3.0
ipaddress==1.0.22
Jinja2==2.11.3
jinja2-time==0.2.0
macholib==1.5.1
MarkupSafe==1.1.1
modulegraph==0.10.4
numpy==1.8.0
oauthlib==2.1.0
pathlib2==2.3.5
pipenv==2020.11.15
poyo==0.5.0
py2app==0.7.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycosat==0.6.3
pycparser==2.19
PyHamcrest==1.10.1
pyOpenSSL==19.0.0
pyparsing==2.0.1
PySocks==1.7.1
python-binance==0.7.9
python-dateutil==2.8.1
python-slugify==4.0.1
pytz==2013.7
regex==2021.4.4
requests==2.25.1
requests-oauthlib==1.0.0
ruamel.yaml==0.17.1
ruamel.yaml.clib==0.2.2
scandir==1.10.0
scipy==0.13.0
service-identity==18.1.0
singledispatch==3.6.1
six==1.12.0
text-unidecode==1.3
tqdm==4.60.0
tweepy==3.10.0
Twisted==20.3.0
txaio==18.8.1
typing==3.7.4.3
tzlocal==2.1
ujson==2.0.3
urllib3==1.23
virtualenv==20.4.2
virtualenv-clone==0.5.4
whichcraft==0.6.1
zipp==1.2.0
zope.interface==5.3.0
